  <div id="about">
    <h3>About myNYCData</h3>
    <p>MyNYCData is an interactive tool for visualizing NYC governmental data, supplied by <a href="https://data.cityofnewyork.us">NYC Open Data</a>.</p>
    <p>We believe New York City's data is a public resource that should be easily accessible and viewable by all, and have
      chosen to start by rendering selected datasets on police-civilian interactions as easy-to-use, customizable charts, in
      three different formats: multiple timeseries, pie chart (single year or an animated year-by-year progression), and
      bar chart (again, by single year or as an animated multi-year progression).</p>
    <p>We hope to add more datasets, and more forms of visualization as this project progresses. It was originally conceived as a
      project for <a href="https://generalassemb.ly/">General Assembly's</a> New York-based <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a> (WDI) course.</p>
    <h3>About Us</h3>
    <p><span class="team-name">AARATI AKKAPEDDI</span> is a Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip</p>
      <p><span class="team-name">ETHAN FRIEDMAN</span> is a Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip</p>
  </div>
</div>
