<% if(!pie){%>
<div id='buttons'>
</div>
<%}%>

<h1 id='title'></h1>
<h3 id ='year'>2005</h3>
<p class='blurb'></p>


<% if(pie){%>
  <header>
          <h1 id="title"></h1>
      </header>
      <p class='blurb'></p>
      <div id="graph">
          <div id="info">
              <div id="keys">
              </div>
              <div id="buttons">
              </div>
              <div id="pie">
              </div>
          </div>
      </div>
<%}%>