<script src="scripts/visualizations/hex_colors.js"></script>
<script src="scripts/visualizations/piechart.js"></script>
<script src="scripts/visualizations/timeseries.js"></script>
<script src="scripts/visualizations/bargraph.js"></script>
<script src="scripts/app.js"></script>

<% console.log(locals.user); %>
<div class='modal'>
<main class='controller' ng-controller='visualizationController as visualization'>
<div class='tools'>
  <!-- FONT AWESOME -->
  <i class="fa fa-pie-chart"></i>
  <i class="fa fa-line-chart"></i>
  <i class="fa fa-bar-chart"></i>
  <div class='back hideMe'>
    <FORM>
       <INPUT TYPE="button" class='submit' onClick="history.go(0)" VALUE="back">
    </FORM>
  </div>
  
  <!--==========PIE CHART===========-->
<form class='pieForm hideMe' ng-submit="visualization.getPieChartData()">
  <p>dataset:</p>

  <select name='pie' ng-model="visualization.formData.dataURL" onchange="activate(this);">
    <option value="https://data.cityofnewyork.us/resource/7r8u-zrb7.json">Reasons for Firearms Discharges by Police</option>
    <option value="https://data.cityofnewyork.us/resource/us5j-esyf.json">Use of Offensive Language by Police</option>
    <option value="https://data.cityofnewyork.us/resource/99ez-fwvc.json" disabled>Allegations of Police Abuse of Authority</option>
    <option value="https://data.cityofnewyork.us/resource/x8rc-3utf.json">Race of Victims With Allegations Against Police</option>
    <option value="https://data.cityofnewyork.us/resource/ffgt-jimk.json"> Gender of Victims With Allegations Against Police</option>
    <option value="https://data.cityofnewyork.us/resource/664m-n5th.json">Gender of Officers With Allegations Against Them</option>
    <option value="https://data.cityofnewyork.us/resource/4vsa-fhnm.json" disabled>Reasons for Police-Civilan Encounters That Led to Complaints</option>
  </select>

  <p>color scheme:</p>

  <select name='pie' ng-model="visualization.formData.chartParams.colorScheme">
    <option value="winter">Winter Colors</option>
    <option value="monochrome">Monochrome Colors</option>
    <option value="summer">Summer Colors</option>
  </select>
  <p class='yearLabel hideMe'>Time Frame:</p>

  <select class='hideMe year2012 one' ng-model="visualization.formData.chartParams.startYear" onchange="year2012ValidationPie(this);" convert-to-number>
    <option value='0'>2002</option>
    <option value='1'>2003</option>
    <option value='2'>2004</option>
    <option value='3'>2005</option>
    <option value='4'>2006</option>
    <option value='5'>2007</option>
    <option value='6'>2008</option>
    <option value='7'>2009</option>
    <option value='8'>2010</option>
    <option value='9'>2011</option>
    <option value='10'>2012</option>
  </select>

  <select class='hideMe year2009 one' ng-model="visualization.formData.chartParams.startYear" onchange="year2009ValidationPie(this);" convert-to-number>
    <option value='0'>2005</option>
    <option value='1'>2006</option>
    <option value='2'>2007</option>
    <option value='3'>2008</option>
    <option value='4'>2009</option>
  </select>
  <select class='hideMe year2012 two' ng-model="visualization.formData.chartParams.endYear"  onchange="showSubmitPie();" convert-to-number>
    <option id='20120'value='0'>2002</option>
    <option id='20121'value='1'>2003</option>
    <option id='20122'value='2'>2004</option>
    <option id='20123'value='3'>2005</option>
    <option id='20124'value='4'>2006</option>
    <option id='20125'value='5'>2007</option>
    <option id='20126'value='6'>2008</option>
    <option id='20127'value='7'>2009</option>
    <option id='20128'value='8'>2010</option>
    <option id='20129'value='9'>2011</option>
    <option id='201210'value='10'>2012</option>
  </select>

  <select class='hideMe year2009 two' ng-model="visualization.formData.chartParams.endYear"  onchange="showSubmitPie();" convert-to-number>
    <option id='20090' value='0'>2005</option>
    <option id='20091' value='1'>2006</option>
    <option id='20092' value='2'>2007</option>
    <option id='20093' value='3'>2008</option>
    <option id='20094' value='4'>2009</option>
  </select>

  <input type='submit'
         value='Generate Pie'
         class='submit hideMe'/>
</form>

<!--==========TIME SERIES===========-->
<form class='timeSeriesForm hideMe' ng-submit="visualization.getTimeseriesData()">
  <p>dataset:</p>

  <select name='timeSeries' ng-model="visualization.formData.dataURL" onchange="activate2(this);">
    <option value="https://data.cityofnewyork.us/resource/7r8u-zrb7.json">Reasons for Firearms Discharges by Police</option>
    <option value="https://data.cityofnewyork.us/resource/us5j-esyf.json">Use of Offensive Language by Police</option>
    <option value="https://data.cityofnewyork.us/resource/99ez-fwvc.json">Allegations of Police Abuse of Authority</option>
    <option value="https://data.cityofnewyork.us/resource/x8rc-3utf.json">Race of Victims With Allegations Against Police</option>
    <option value="https://data.cityofnewyork.us/resource/ffgt-jimk.json"> Gender of Victims With Allegations Against Police</option>
    <option value="https://data.cityofnewyork.us/resource/664m-n5th.json"> Gender of Officers With Allegations Against Them </option>
    <option value="https://data.cityofnewyork.us/resource/4vsa-fhnm.json">Reasons for Police-Civilan Encounters That Led to Complaints</option>
  </select>
  <p>color scheme:</p>
<select name='timeSeries' ng-model="visualization.formData.chartParams.colorScheme">
    <option value="winter">Winter Colors</option>
    <option value="monochrome">Monochrome Colors</option>
    <option value="summer">Summer Colors</option>
</select>
<p class='yearLabel hideMe'>Time Frame:</p>

  <select class='hideMe year20122' ng-model="visualization.formData.chartParams.startYear" onchange="year2012ValidationTime(this);" convert-to-number>
    <option value='0'>2002</option>
    <option value='1'>2003</option>
    <option value='2'>2004</option>
    <option value='3'>2005</option>
    <option value='4'>2006</option>
    <option value='5'>2007</option>
    <option value='6'>2008</option>
    <option value='7'>2009</option>
    <option value='8'>2010</option>
    <option value='9'>2011</option>
    <option value='10'>2012</option>
  </select>

  <select class='hideMe year20092' ng-model="visualization.formData.chartParams.startYear" onchange="year2009ValidationTime(this);" convert-to-number>
    <option value='0'>2005</option>
    <option value='1'>2006</option>
    <option value='2'>2007</option>
    <option value='3'>2008</option>
    <option value='4'>2009</option>
  </select>
  <select class='hideMe year20122' ng-model="visualization.formData.chartParams.endYear"  onchange="showSubmitTime();" convert-to-number>
    <option id='20120time' value='0'>2002</option>
    <option id='20121time' value='1'>2003</option>
    <option id='20122time' value='2'>2004</option>
    <option id='20123time' value='3'>2005</option>
    <option id='20124time' value='4'>2006</option>
    <option id='20125time' value='5'>2007</option>
    <option id='20126time' value='6'>2008</option>
    <option id='20127time' value='7'>2009</option>
    <option id='20128time' value='8'>2010</option>
    <option id='20129time' value='9'>2011</option>
    <option id='201210time' value='10'>2012</option>
  </select>

  <select class='hideMe year20092' ng-model="visualization.formData.chartParams.endYear" onchange="showSubmitTime();" convert-to-number>
    <option id='20090time' value='0'>2005</option>
    <option id='20091time' value='1'>2006</option>
    <option id='20092time' value='2'>2007</option>
    <option id='20093time' value='3'>2008</option>
    <option id='20094time' value='4'>2009</option>
  </select>

  <input type='submit'
         value="Generate Time Series"
         class='submit hideMe'/>
</form>






<!--=============BAR CHART =========-->
<form class='barForm  hideMe' ng-submit="visualization.getBarGraphData()">
  <p>dataset:</p>

    <select name='bar' ng-model="visualization.formData.dataURL" onchange="activate3(this);">
    <option value="https://data.cityofnewyork.us/resource/7r8u-zrb7.json" >Reasons for Firearms Discharges by Police</option>
    <option value="https://data.cityofnewyork.us/resource/us5j-esyf.json">Use of Offensive Language by Police</option>
    <option value="https://data.cityofnewyork.us/resource/99ez-fwvc.json">Allegations of Police Abuse of Authority</option>
    <option value="https://data.cityofnewyork.us/resource/x8rc-3utf.json">Race of Victims With Allegations Against Police</option>
    <option value="https://data.cityofnewyork.us/resource/ffgt-jimk.json"> Gender of Victims With Allegations Against Police</option>
    <option value="https://data.cityofnewyork.us/resource/664m-n5th.json"> Gender of Officers With Allegations Against Them </option>
  </select>
  <p>color scheme:</p>
 <select name='bar' ng-model="visualization.formData.charParams.colorScheme">
    <option value="winter">Winter Colors</option>
    <option value="monochrome">Monochrome Colors</option>
    <option value="summer">Summer Colors</option>
  </select>
  <p class='yearLabel hideMe'>Time Frame:</p>

  <select class='hideMe year20123' ng-model="visualization.formData.chartParams.startYear" onchange="year2012ValidationBar(this);" convert-to-number>
    <option value='0'>2002</option>
    <option value='1'>2003</option>
    <option value='2'>2004</option>
    <option value='3'>2005</option>
    <option value='4'>2006</option>
    <option value='5'>2007</option>
    <option value='6'>2008</option>
    <option value='7'>2009</option>
    <option value='8'>2010</option>
    <option value='9'>2011</option>
    <option value='10'>2012</option>
  </select>

  <select class='hideMe year20093' ng-model="visualization.formData.chartParams.startYear" onchange="year2009ValidationBar(this);" convert-to-number>
    <option value='0'>2005</option>
    <option value='1'>2006</option>
    <option value='2'>2007</option>
    <option value='3'>2008</option>
    <option value='4'>2009</option>
  </select>
  <select class='hideMe year20123' ng-model="visualization.formData.chartParams.endYear"  onchange="showSubmitBar();" convert-to-number>
    <option id='20120bar' value='0'>2002</option>
    <option id='20121bar' value='1'>2003</option>
    <option id='20122bar' value='2'>2004</option>
    <option id='20123bar' value='3'>2005</option>
    <option id='20124bar' value='4'>2006</option>
    <option id='20125bar' value='5'>2007</option>
    <option id='20126bar' value='6'>2008</option>
    <option id='20127bar' value='7'>2009</option>
    <option id='20128bar' value='8'>2010</option>
    <option id='20129bar' value='9'>2011</option>
    <option id='201210bar' value='10'>2012</option>
  </select>

  <select class='hideMe year20093' ng-model="visualization.formData.chartParams.endYear" onchange="showSubmitBar();" convert-to-number>
    <option id='20090bar' value='0'>2005</option>
    <option id='20091bar' value='1'>2006</option>
    <option id='20092bar' value='2'>2007</option>
    <option id='20093bar' value='3'>2008</option>
    <option id='20094bar' value='4'>2009</option>
  </select>

  <input type='submit'
         value="Generate Bar Graph"
         class='submit hideMe'/>
</form>
</div>
<!--=============Graph Area======= -->
<div class='graph'>
  <p class='arrow'>⬅ </p><h3 class='chooseGraph'>Choose a Graph Type</h3>
<header>
    <h1 id="title"></h1>
    <!-- <p id='pause'>Pause on a Year</p> -->
  </header>
  <div id='buttons'>
  </div>
  <p class='blurb'></p>
  <div id="graph">
      <div id="info">
          <div id="keys">
          </div>
          <div id="buttons">
          </div>
          <div id="pie">
          </div>
          <h3 id='year'></h3>
      </div>
  </div>
</div>
</main>
</div>

<!-- all the functions relating to the submission forms in the file below -->
<script src="scripts/form_validation.js"></script>
