<main ng-controller='visualizationController as visualization'>
  <h1>hi I'm going to be an Angular app!</h1>

<form ng-submit='visualization.getPieChartData()'>
  <input type='submit'
         value='Pie please!'/>
</form>
<form ng-submit='visualization.getTimeseriesData()'>
  <input type='submit'
         value="Let's travel through time!"/>
</form>

<header>
    <h1 id="title"></h1>
  </header>
  <div id='buttons'>
  </div>
  <p class='blurb'></p>
  <div id="graph">
      <div id="info">
          <div id="keys">
          </div>
          <div id="buttons">
          </div>
          <div id="pie">
          </div>
      </div>
  </div>
</main>
