<main ng-controller='visualizationController as visualization'>
  <h1>hi I'm going to be an Angular app!</h1>


<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/7r8u-zrb7.json', {
          yearType:'2012',
           dataType: 'firearms'
        })">

  <input type='submit'
         value='Pie for fire!'/>
</form>

<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/us5j-esyf.json', {
          yearType:'2009',
           dataType: 'language'
        })">
  <input type='submit'
          value ='pie for language'/>
</form>

<form ng-submit="visualization.getTimeseriesData('https://data.cityofnewyork.us/resource/7r8u-zrb7.json')">

  <input type='submit'
         value="Let's travel through time!"/>
</form>
<form ng-submit="visualization.getBarGraphData('https://data.cityofnewyork.us/resource/99ez-fwvc.json')">
  <input type='submit'
         value="I want to go to a bar!"/>
</form>

<header>
    <h1 id="title"></h1>
    <h3 id='year'></h3>
  </header>
  <div id='buttons'>
  </div>
  <p class='blurb'></p>
  <div id="graph">
      <div id="info">
          <div id="keys">
          </div>
          <div id="buttons">
          </div>
          <div id="pie">
          </div>
      </div>
  </div>
</main>
