<main ng-controller='visualizationController as visualization'>
  <h1>hi I'm going to be an Angular app!</h1>


<form ng-submit="visualization.getPieChartData()">

  <select ng-model="visualization.formData.dataURL" onchange="activate(this);">
    <option value="https://data.cityofnewyork.us/resource/7r8u-zrb7.json">Firearms</option>
    <option value="https://data.cityofnewyork.us/resource/us5j-esyf.json">Language</option>
    <option value="https://data.cityofnewyork.us/resource/99ez-fwvc.json">Abuse</option>
    <option value="https://data.cityofnewyork.us/resource/x8rc-3utf.json">Race</option>
    <option value="https://data.cityofnewyork.us/resource/ffgt-jimk.json"> Gender of Victims</option>
    <option value="https://data.cityofnewyork.us/resource/664m-n5th.json"> Gender of Officers </option>
  </select>

  <select class='hideMe year2012' ng-model="visualization.formData.chartParams.startYear" convert-to-number>
    <option value='0'>2002</option>
    <option value='1'>2003</option>
    <option value='2'>2004</option>
    <option value='3'>2005</option>
    <option value='4'>2006</option>
    <option value='5'>2007</option>
    <option value='6'>2008</option>
    <option value='7'>2009</option>
    <option value='8'>2010</option>
    <option value='9'>2011</option>
    <option value='10'>2012</option>
  </select>

  <select class='hideMe year2009' ng-model="visualization.formData.chartParams.startYear" convert-to-number>
    <option value='0'>2005</option>
    <option value='1'>2006</option>
    <option value='2'>2007</option>
    <option value='3'>2008</option>
    <option value='4'>2009</option>
  </select>
  <select class='hideMe year2012' ng-model="visualization.formData.chartParams.endYear" convert-to-number>
    <option value='0'>2002</option>
    <option value='1'>2003</option>
    <option value='2'>2004</option>
    <option value='3'>2005</option>
    <option value='4'>2006</option>
    <option value='5'>2007</option>
    <option value='6'>2008</option>
    <option value='7'>2009</option>
    <option value='8'>2010</option>
    <option value='9'>2011</option>
    <option value='10'>2012</option>
  </select>

  <select class='hideMe year2009' ng-model="visualization.formData.chartParams.endYear" convert-to-number>
    <option value='0'>2005</option>
    <option value='1'>2006</option>
    <option value='2'>2007</option>
    <option value='3'>2008</option>
    <option value='4'>2009</option>
  </select>
  <!-- DataType -->
  <input id = 'firearms' 
         class='dataType' 
         ng-model="visualization.formData.chartParams.dataType" 
         type="radio" 
         value="firearms" >firearms<br>

<input id = 'language' 
         class='dataType' 
         ng-model="visualization.formData.chartParams.dataType" 
         type="radio" 
         value="language" >language<br>

  <!-- yearType -->

  <input id = 'year2012' 
         class=' yearType' 
         ng-model="visualization.formData.chartParams.yearType" 
         type="radio" 
         value="2012" >hi<br>

  <input id = 'year2009' 
         class=' yearType' 
         ng-model="visualization.formData.chartParams.yearType" 
         type="radio" 
         value="2009" 
         checked="checked">hiok<br>



  <!-- total stuff -->
  <input id ='totalTrue' 
         class=' totalPresent' 
         ng-model="visualization.formData.chartParams.totalPresent" 
         type="radio" 
         value="true" >totalPresent<br>

  <input id ='totalFalse' 
         class=' totalPresent' 
         ng-model="visualization.formData.chartParams.totalPresent" 
         type="radio" 
         value="false" >totalPresent<br>

  <input id ='totalWeird' 
         class=' totalPresent'
         ng-model="visualization.formData.chartParams.totalPresent" 
         type="radio" 
         value="weird" >totalPresent<br>

  <input id ='totalWeird2' 
         class=' totalPresent' 
         ng-model="visualization.formData.chartParams.totalPresent" 
         type="radio" 
         value="weird2" >totalPresent<br>



  <input type='submit'
         value='Pie for fire!'/>
</form>







<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/us5j-esyf.json', {
          yearType:'2009',
           dataType: 'language',
           totalPresent: true,
           startYear: 0,
           endYear: 4
        })">
  <input type='submit'
          value ='pie for language'/>
</form>

<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/99ez-fwvc.json', {
          yearType:'2009',
           dataType: 'Abuse of Authority',
           totalPresent: true,
           startYear: 0,
           endYear: 4
        })">
  <input type='submit'
          value ='pie for abuse allegations'/>
</form>

<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/x8rc-3utf.json', {
          yearType:'2009',
           dataType: 'Race of Victims',
           totalPresent: 'weird',
           startYear: 0,
           endYear: 4
        })">
  <input type='submit'
          value ='pie for race of victims'/>
</form>

<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/ffgt-jimk.json', {
          yearType:'2009',
           dataType: 'Gender of Victims',
           totalPresent: 'weird2',
           startYear: 0,
           endYear: 4
        })">
  <input type='submit'
          value ='pie for gender of victims'/>
</form>

<form ng-submit="visualization.getPieChartData('https://data.cityofnewyork.us/resource/664m-n5th.json', {
          yearType:'2009',
           dataType: 'Gender of Officers',
           totalPresent: 'weird2',
           startYear: 0,
           endYear: 4
        })">
  <input type='submit'
          value ='pie for gender of officers'/>
</form>
<!--==========TIME SERIES===========-->
<form ng-submit="visualization.getTimeseriesData('https://data.cityofnewyork.us/resource/7r8u-zrb7.json')">

  <input type='submit'
         value="Let's travel through time!"/>
</form>
<form ng-submit="visualization.getBarGraphData('https://data.cityofnewyork.us/resource/99ez-fwvc.json')">
  <input type='submit'
         value="I want to go to a bar!"/>
</form>

<header>
    <h1 id="title"></h1>
    <h3 id='year'></h3>
  </header>
  <div id='buttons'>
  </div>
  <p class='blurb'></p>
  <div id="graph">
      <div id="info">
          <div id="keys">
          </div>
          <div id="buttons">
          </div>
          <div id="pie">
          </div>
      </div>
  </div>
</main>

<script type="text/javascript">
  function activate(obj) {
    if(obj.value == "https://data.cityofnewyork.us/resource/7r8u-zrb7.json"){
      $('.year2012').removeClass('hideMe');
      $('#year2012').attr('checked','true');
      $('#totalFalse').attr('checked','true');
      $('#firearms').attr('checked','true');
    }
}



</script>
