<script src="scripts/app.js"></script>
<div class='modal' id='how-to-modal'>
    <div id="how-to">
      <h3 class='login-title inline'>How to Use This App</h3>
      <p><a href="/home">Skip the instructions -- I want to get started!</a></p>
      <p class='directions'>Begin by selecting a visualization type from the available list. <span>Current chart types include:</span>
        <ul class='chart-types'>
          <li>Pie charts <i class="fa fa-pie-chart"></i></li>
          <li>Timeseries <i class="fa fa-line-chart"></i></li>
          <li>Bar graph <i class="fa fa-bar-chart"></i></li>
          <li>Coming soon: heatmaps and more!</li>
        </ul></p>
      <p class='directions'>Once you've selected a chart type, please choose one of our currently available datasets:
        <dl class='chart-types'>
          <dt>Reasons for Firearms Discharges by Police</dt>
          <dd>Why NYC police fired their weapons, by year (e.g., Animal Attack, Adversarial Conflict, etc.)</dd>

          <dt>Use of Offensive Language by Police</dt>
          <dd>The nature of offensive language allegations against NYC police by year (e.g., race, gender, etc.)</dd>

          <dt>Allegations of Police Abuse of Authority</dt>
          <dd>The different types of alleged abuses committed by the police. (Not available as a pie chart--the large
            number of types of abuse makes it difficult to see in this form.)</dd>

          <dt>Race of Victims With Allegations Against Police</dt>
          <dd>Victims who alleged police abuse, sorted by race</dd>

          <dt>Gender of Victims With Allegations Against Police</dt>
          <dd>Victims who alleged police abuse, sorted by gender</dd>

          <dt>Gender of Officers With Allegations Against Them</dt>
          <dd>Officers who committed alleged abuse, sorted by gender</dd>

          <dt>Reasons for Police-Civilan Encounters That Led to Complaints</dt>
          <dd>The kinds of encounters that resulted in complaints against the police</dd>
        </dl></p>
      <p class='directions'>Finally, choose a color scheme and a range of years to show. Then click
        'Generate Graph' to create the chart! </p>
      </br></br><i class='time-disclaimer'>
        * For pie charts and bar graphs where you have chosen to display more than
        one year of data, the site will automatically cycle through the range of years, displaying one at a time.
         </br></br>To stop
          animation and view a single year, select that year button. Hovering over an element on a graph will reveal
          additional information about that element such as the series to which it belongs and its value.
      </i>
      <p><a href="/home">Get started!</a></p>
    </div>
  </div>
