<div class='topBar'>
  <div class='mobileMenu'>
     <div class='navbar'>
      <ul>
        <% if (user) { %>
          <li class="menu">Hi, <%= user.name %>!</li>
          <li><a href="/users/logout">Log out</a></li>
          <% } else { %>
          <li><a href="/users/login">Log In</a></li>
          <% } %>
        <li><a href="#">About this Project</a></li>
      </ul>
    </div>

    <div id="hamburger-button">
            <span></span>
            <span></span>
            <span></span>
    </div>
  </div>
  <div class='left'>
    <h1 class='logo'>MY<span id='nyc'>NYC</span>DATA</h1>
    <p class='tagline'>Data Visualization made easy. </br> Learn more about the city you love.</p>
  </div>
  <div class='right'>
    <ul>
      <% if (user) { %>
        <li>Hi, <%= user.name %>!</li>
        <li><a href="/users/logout">Log out</a></li>
        <% } else { %>
        <li><a href="/users/login">Log In</a></li>
        <% } %>
        <li><a href="/about">About this Project</a></li>
    </ul>
  </div>
</div>

<script>
  function animateHamburger() {
  $('#hamburger-button').toggleClass('open');
/*animating burger to x*/
}

function slideMenu(){
  $('.navbar').toggleClass('open');
  /*animating menu slidedown*/
}
$('#hamburger-button').click(function(){
  console.log('trying');
  animateHamburger();
  slideMenu();/*attaching click handler to burger*/
});
</script>
