@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);

/*<><><><><><><>ANIMATIONS<><><><><><>*/
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*<><><><><><><><><><><><><><><><>*/

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin:0;
  color:darkblue;
  background: black;
  background-image:url('https://dl.dropboxusercontent.com/u/89221222/AAA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
      }
/*<><><><><><><><>BURGER NAV<><><><><><>*/
.mobileMenu{
  display:none;
  width:100vw;
  height:10vh;
}
#hamburger-button {
  position: relative;
  z-index: 9999;/*so it's above everything*/
  display: inline-block;
  vertical-align: top;
  height:30px;
  width:40px;
  margin-left:3%;
  margin-top:3%;
}

#hamburger-button:hover {
  cursor: pointer;
  /* change the cursor to pointer */
}

#hamburger-button > span {
  display: block;
  height: 6px;
  margin-bottom: 6px;
  width: 40px;
  background-color: white;
 -webkit-transition-timing-function: linear; /* Safari and Chrome */
transition-timing-function: linear;
transition-duration:1s;
}


#hamburger-button.open > span:first-child {
-webkit-transform: translateY(12px) rotate(45deg); /* Chrome, Safari, Opera */
transform:translateY(12px) rotate(45deg);
}


#hamburger-button.open > span:nth-child(2) {
   -webkit-transform: rotateY(90deg); /* Safari */
    transform: rotateY(90deg);
  /* rotates the second child on the Y AXIS ONLY 90 degrees so it disappears into a point */
}

#hamburger-button.open > span:last-child {
 -webkit-transform: translateY(-12px) rotate(-45deg); /* Chrome, Safari, Opera */
    transform: translateY(-12px) rotate(-45deg);
}


.navbar{
  position:absolute;
  opacity:0;
  z-index:888;/*so it's above the content and below the burger*/
  height:100vh;
  width: 100vw;
  margin-left:-2%;
  top:-100vw;
  transition:.8s;
  background-color:darkblue;
  color:white;
}

.navbar.open{
  opacity:.9;
  top:0;
}
.navbar ul{
  list-style:none;
  margin-top:20%;
  font-size:1.5em;
}

.navbar ul li{
  width:30%;
  margin-left: -5%;
  margin-right:auto;
  border-bottom:1px solid white;
  margin-bottom:5%;
  padding:0px;
  opacity:1;
  transition:opacity 1s ease, left 1s ease;
  position:relative;
  left:5%;
  text-align:center;
}
.navbar.open ul li{
 opacity:1;
left:0;
width:100%;
}
.navbar ul li a{
  color:white;
  text-decoration: none;
}

.navbar ul li:hover{
  text-shadow:1px 1px 3px pink;
  cursor:pointer;
}
/*giving all the menu items different delays so they animate slightly one after the other.*/
.navbar ul li:nth-child(2){
  transition-delay: .1s;
}
.navbar ul li:nth-child(3){
  transition-delay:.2s;
}
.navbar ul li:last-child{
  transition-delay:.3s;
}

/*//////////////MEDIA QUERIES////////////*/

    @media (max-width: 760px) {
        body{
          background: white;
          background-image: none;
        }
        .modal{
          width:100vw !important;
          margin: 0 !important;
        }
        .graph{
          width:100% !important;
          display: block;
        }
        .navbar{
          height:80vh;
        }
        .navbar.open{
          height:100vh;
        }
        select {
          width: 30px;
          white-space:pre-wrap;
          display:inline-block;
        }
        .tools{
          width:100% !important;
          height:auto;
          display: block;
        }

        .tools input {
          display: inline-block;
        }
        .tools p{
          display: inline-block;

        }
        #title{
          font-size:1em;
          font-weight: 800;
        }
        .fa{
          display:inline-block !important;
          margin-top: 3%!important;
          margin-left:10vw!important;
          font-size: 2em !important;
        }
        .arrow{
          display: none !important;
        }
        .modal{
          height:auto;
        }
        .fa-pie-chart{
          margin-left:15vw!important;
        }
        .chooseGraph{
          margin-top:-1%;
          font-size: .9em;
          text-align: left;
        }
        .controller{
          display:block;
        }
        .mobileMenu{
          display:block;
        }
        .logo {
          text-align:left;
          display: block;
          padding:0;
          margin:0;
          font-size:3em !important;
        }

        .left{
          padding-left:5vw;
        }
        .right{
          display:none !important;
          width:100vw;
          padding:0;
          border-top:1px solid white;
          padding:2%;
          margin:10% 0 0;
        }

        #year{
          font-size:1.5em !important;
          padding-bottom:10%; 
        }

    }
/*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>TOP<><><><><><><><><>*/
.topBar{
  font-family: 'Open Sans', sans-serif;
  background-color:darkblue;
  color:white;
  width:100vw;
  padding:.5em;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.logo{
  font-weight: normal;
  font-size:2.5em;
  margin-bottom:0;
  padding:0;
  margin-top:0;
  width:100%;
  padding:0 5% 0;
}

.tagline{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size:1em;
  margin-top:0;
  padding:0 5% 0;
  width:100%;
}
.left{
 display:inline-block;
 left:5%;
 top:5%;
 padding-left:0%;
}
.right{
  display:inline-block;
  margin-right:3vw;
  margin-top:2vw;
}

.right ul{
  margin-top:0;
  list-style: none;
  padding:none;
}
.right ul li {
   text-align: right;
   margin-top:3%;
}
.right ul li:first-child{
  margin-top:0;
}
.right ul li a{
  text-decoration: none;
  color:white;

}

#nyc{
  font-weight:800;
}


/*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>GRAPH AREA<><><><><><><><><>*/

#buttons, #keys, #pie {
  display: inline-block;
  vertical-align: top;
}
#buttons button {
  display: inline-block;
  margin: 1.5em;
}
#keys {
  display:inline-block;
  padding: .5em;
  color:black;
  font-family:'Open Sans', sans-serif;
  font-size: .5em;
}
.key-color {
  float:right;
  background-color: white;
  padding: 10px;
}
.key-text {
  padding: 10px;
}
.blurb{
  visibility: hidden;
  position: absolute;
  background-color: darkblue;
  color:white;
  padding:5px;
}
 .axis {
   font: 10px sans-serif;
 }

 .axis path,

 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .line {
    fill: none;
    stroke-width: 1.5px;
  }
 .bars{
    transition:1s;
 }

 #title{
  display:inline-block;
  color:darkblue;
  font-weight: 400;
  text-align: center;
 }
 #pause{
 display:none;
 margin-top:-2%;
 }
 #year{
  display:none;
  position: relative;
  font-size:2em;
  z-index: 999;
  padding:2px;
  border-radius: 2px;
  font-weight: 300;
  color:white;
  background-color: darkblue;
 }
  #buttons button{
  background-color: white;
  color:darkblue;
  border:1px solid darkblue;
  box-shadow: 1px 1px 1px blue;
  outline:none;
  font-family: 'Open Sans', sans-serif;
 }
 #buttons button:hover{
  cursor:pointer;
 }
 svg{
  z-index: 888;
}
#keys{
  width: auto;
  max-width:180px;
}

 .graph{
  margin-left:2vw;
  width:68vw;
  display: inline-block;
 }
 #pie{
  margin-left:5vw;
 }
 /*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>TOOL BAR<><><><><><><><><>*/
 .fa{
  z-index: 9999;
  position: relative;
 }
 .hideMe{
  opacity: 0;
  display:none !important;
  height:0;
  width:0;
  overflow: hidden;
  padding:0;
  margin:0;
 }

  .submit{
  background-color: darkblue;
  color:white;
  border-radius: none;
  outline: none;
  border:none;
  box-shadow: 1px 1px 5px blue;
 }

 .submit:hover{
  cursor: pointer;
 }

 .tools{
  width:15vw;
  display: inline-block;
  background-color: lightblue;
  border-radius: 5px;
  height:auto;
  padding:1em;
  position: static;
  top:0;
  left:0;
 }
  .tools p{
    color:darkblue;
  }
 select {
  background-color: white;
  border:none;
  border-radius:none;
 }



 .chooseGraph{
  margin-top:10%;
  text-align: center;
  color:darkblue;
  font-size: 2em;
  font-weight: 300;
  margin-left:5%;
  display: inline-block;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
 }

 .arrow{
  margin-top: 10%;
  display: inline-block;
  font-size: 2.5em;
  margin-left:5%;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
 }


 .fa{
  color:darkblue;
  font-size: 3.5em;
  display:block;
  text-align: center;
  margin-top:5%;
 }
 select {
  width: 100px;
  white-space:pre-wrap;
 }

 .fa:hover{
  cursor: pointer;
 }
 .save button a{
  color:white;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
 }
 
 .submit a{
  color:white;
  text-decoration: none;
 }
 /*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>MODAL STYLING<><><><><><><><><>*/

 .modal{
  background-color: white;
  opacity: .9;
  width:90vw;
  height:auto;
  border-radius: 5px;
  margin:2% auto;
 }

  

 .activeButton{
  background-color: darkblue !important;
  color:white !important;
 }
 .controller{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}



 .login-title{
  color:darkblue;
  text-align: center;
  padding-top:5vh;
  font-size: 2em;
  font-weight: 400;
 }


 hr{
  background:darkblue;
  height:1px;
  border:none;
  outline: none;
  width:100px;
  margin:0 auto;
 }

  /*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>OLD LOGIN STYLING<><><><><><><><><>*/
 #login{
  padding:1em;
  text-align: center;
  color:darkblue;
  font-family: 'Open Sans', sans-serif;
  font-size:1.5em;
 }

 #register{
  margin-top:2.5vh;
  font-size: 1em;
  padding:.2em;
 }

 #register:hover{
  box-shadow: none;
 }

 .user-submit{
  background-color: darkblue;
  color:white;
  border-radius: none;
  outline: none;
  border:none;
  box-shadow: 1px 1px 5px blue;
  font-size: 1em;
  margin-top:3vh;
}
.user-submit:hover{
  cursor: pointer;
  box-shadow: none;
}

   /*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>ABOUT PAGE<><><><><><><><><>*/
 #about{
  padding:1em;
  color:darkblue;
 }
 #about .login-title{
  display:inline-block;
  margin-top:-3%;
  margin-bottom:0;
 }
 #about-modal{

 }
 #about .logo{
  width:10vw;
  display: inline-block;
  margin:0;
  padding:0 .5em 0;
  color:darkblue;
 }

#about-us{
  font-weight: 400;
  font-size:1.5em;
}
#about p a{
  color:darkblue;
}
.team-name{
  font-weight:800;
  letter-spacing: .1em;
}
.team-name:hover{
  cursor: pointer;
}
.team-name a{
  text-decoration: none;
  color:darkblue;
}
#logo{
  color:white;
  text-decoration: none;
}


   /*//////////////////////////////////////*/
/*<><><><><><><><><><><><><><><><><><><>*/
/*<><><><><><><><>HOW TO PAGE<><><><><><><><><>*/


#how-to-modal{
  padding:2%;
}

#how-to-modal .login-title{
  font-size: 2.5em;
  margin-top:0;
}

#how-to-modal .logo{
  text-align: center;
  padding-left:0;
  margin:0;
}
.directions{
  margin-left:5%;
  margin-top:10%;
  font-weight:400;
  font-size:1.5em;
}
.directions span{
  font-size:.8em;
  display:block;
  margin-top:2%;
}
.chart-types{
  list-style: decimal;
  padding-left:10%;
  margin-top:0;
}
.chart-types li i{
  font-size: 1.5em;
  text-align: left;
  display:inline-block;
  margin-top:0;
}
.chart-types li{
  margin-top:1%;

}
.chart-types dt{
  font-size: 1em;
  margin-top:2%;

}
.chart-types dd{
  font-size: .8em;
  margin-top:1%;
  width:60%;
}
.time-disclaimer{
  margin-left:5%;
  display:block;
  margin-top:0;
}
