<h3>Register</h3>
<div id="login">
  <form id="new-user-form" action="new" method="POST">
    <label for="name">Username:</label>
    <input type="text"
           id="username"
           name="user[name]"
           class="user-input"
           placeholder="(Choose a username)"
           autofocus required />
    <label for="password">Password (6 or more characters):</label>
    <input type="password"
           id="password"
           class="user-input"
           name="user[password]"
           placeholder="(Choose a password)"
           minlength="6"
           required >
    <input type="submit" value="Submit"/>
  </form>
  <p><a href="login">Log in as an existing user instead</a></p>
</div>
