<script src="../scripts/app.js"></script>
<div class='modal'>
  <h3 class='login-title'>Register</h3>
<div id="login">
  <form id="new-user-form" action="new" method="POST">
    <label for="name">Username:</label>
    <input type="text"
           id="username"
           name="user[name]"
           class="user-input"
           placeholder="(Choose a username)"
           autofocus required />
         </br>
    <label for="password">Password (6 or more characters):</label>
    <input type="password"
           id="password"
           class="user-input"
           name="user[password]"
           placeholder="(Choose a password)"
           minlength="6"
           required >
         </br>
    <input type="submit" value="Submit"/>
  </form>
  <p class='or'>or</p>
    <hr>
  <button id='register' class='submit'>
    <a href="login">Log in as an existing user instead</a>
  </button>
  <div class='modal'>
</div>
